body {
    font-size: 2em;
    color: #222222;
    font-family: 'Merriweather', serif;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
main {
    width: auto;
    word-wrap: break-word;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5em;
    background: rgb(230, 230, 230);
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 2em;
}

p{
    margin: 0;
}

h1 {
    font-size: 2.5em;
    line-height: normal;
}

nav {
    color: #888888;
}

header{
    background-color: antiquewhite;
    text-align: center;
    border-bottom: 0.4em solid cadetblue;
    border-top: 1px solid antiquewhite;
    padding-bottom: 1em;
    color: brown;
    width: 100%;
}
footer{
    padding: 0.4em;
    border-top: cadetblue 0.1em solid;
    background: antiquewhite;
    position: fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
    color: brown;
}

header nav{
    display: inline;
    color: brown;
    text-decoration: none;
}

header nav a{
    color: brown;
    text-decoration: none;
}

.btn{
    display: inline;
    color: #222222;
    text-decoration: none;
    background: lightgray;
    padding: 5px;
    border: gray solid 2px;
}

header nav a:hover{
    color: purple;
}

#contacts{
    text-align: center;
}

.image-in-text{
    text-align: center;
}

.text-block{
    background-color: rgba(0, 0, 0, 0.04);
    margin: 0 1em 0.5em;
    font-size: 0.7em;
    width: 80%;
    text-align: justify;
    padding: 1em;
}

.table-block{
    background: coral;
    border: orangered 3px;
    border-radius: 15%;
    width: 10em;
    height: 10em;
    text-align: center;
}

.table-block img{
    margin: 8% auto 0px;
}

.form{
    text-align: left;
    border: cadetblue 3px solid;
    background: rgba(100, 250, 200, 0.6);
    border-radius: 10%;
    line-height: 1em;
    padding: 2em;
    width: 12em;
}

td{
    border: #222222 solid 1px;
    padding: 1em;
}

table{
    border-spacing: 0;
}

tr{
    padding: 0;
    margin: 0;
}

.selected_menu{
    color: darkblue
}

footer a{
    vertical-align: middle;
    color: blue;
    padding-left: 2em;
}

.red{
    border: red solid 2px;
    margin-left: 8px;
    display: inline;
}
