body {
    font-size: 2em;
    color: #222222;
    font-family: 'Merriweather', serif;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
main {
    width: 100%;
    word-wrap: break-word;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5em;
    background: lavender;
}

p{
    margin: 0;
}

h1 {
    font-size: 2.5em;
    line-height: normal;
}

nav {
    color: #888888;
}

header{
    background-color: antiquewhite;
    text-align: center;
    border-bottom: 0.4em solid cadetblue;
    border-top: 1px solid antiquewhite;
    padding-bottom: 1em;
}
footer{
    padding: 0.4em;
    border-top: cadetblue 0.3em solid;
    background: antiquewhite;
}

header nav{
    display: inline;
    color: #222222;
    text-decoration: none;
}

#contacts{
    text-align: center;
}

.image-in-text{
    text-align: center;
}

.text-block{
    background-color: rgba(0, 0, 0, 0.04);
    margin: 0 1em 0.5em;
}

.table-block{
    background: coral;
    border: orangered 3px;
    border-radius: 15%;
    width: 5.5em;
    height: 5.5em;
    text-align: center;
}

.table-block img{
    margin: 8% auto 0px;
}

footer a{
    vertical-align: middle;
    color: blue;
    padding-left: 2em;
}
header nav a{
    color: #222222;
    text-decoration: none;
}
