body {
    font-size: 2em;
    color: #222222;
    font-family: 'Merriweather', serif;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
main {
    width: 100%;
    word-wrap: break-word;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5em;
    background: lavender;
    padding-top: 1.5em;
    align-items: center;
}

p{
    margin: 0;
}

h1 {
    font-size: 2.5em;
    line-height: normal;
}

nav {
    color: #888888;
}

header{
    background-color: rgba(176, 196, 222, 1);
    border-bottom: 0.2em solid rebeccapurple;
    border-top: 1px solid rgba(176, 196, 222, 1);
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
footer{
    padding: 0.4em;
    border-top: rebeccapurple 0.2em solid;
    background: rgba(176, 196, 222, 1);
}

header nav:hover{

    color: #222222;
    text-decoration: none;
}

header nav a:hover{
    color: purple;
}

#contacts{
    text-align: center;
}

.image-in-text{
    text-align: center;
    border-radius: 10px;
    border: rebeccapurple 3px solid;
}

.text-block{
    background-color: rgba(0, 0, 0, 0.04);
    margin: 0 1em 0.5em;
    font-size: 0.7em;
    width: 80%;
    text-align: justify;
    padding: 1em;
}

.table-block{
    background: coral;
    border: orangered 3px;
    border-radius: 15%;
    width: 5.5em;
    height: 5.5em;
    text-align: center;
}

.table-block img{
    margin: 8% auto 0px;
}

.form{
    text-align: left;
    border: cadetblue 3px solid;
    background: rgba(100, 250, 200, 0.6);
    border-radius: 10%;
    line-height: 1em;
    padding: 2em;
    width: 12em;
}

.selected_menu{
    color: MidnightBlue
}

footer a{
    vertical-align: middle;
    color: blue;
    padding-left: 2em;
}
header nav a{
    color: #222222;
    text-decoration: none;
}

.button{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.04);
    border: rebeccapurple 2px solid;
    padding: 0 1em;
}

table a{
    color: darkblue;
    text-decoration: none;
}

.selected{
    color: purple;
}

#”main_menu”{
}

.number{
    text-decoration: none;
    text-align: center;
    height: auto;
    color: black;
    background-color: rgba(80,80,80,10%);
    border-radius: 50%;
    padding: 6px;
}

.ttRow{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.left{
    display: flex;
    flex-flow: column;
    font-size: 0.7em;
    margin: 0;
}

.left a{
    background-color: #888888;
    border-radius: 50%;
    text-align: center;
    padding: 1px 5px;
}

.block_table{
    padding-left: 0em;
    display: flex;
    flex-flow: row;
}
.col p a{
    text-decoration: none;
    color: darkblue;
}



.row {
    display: table-row;
    width: auto;
    clear: both;
}

.table{
    font-size: 0.7em;
    padding: 0;

}

table{
    border: none;
    border-spacing: 0;
}

tr{
    padding: 0;
}

td p{
    padding-left: 1em;
    margin: 0;
}
td{
    padding: 0;
    margin: 0;
    border: 1px black solid;
}

.col{
    padding-left: 1em;
    font-size: 0.7em;
}

menu a{
    text-decoration: none;
    color: darkblue;
}

.block_table a{
    text-decoration: none;
    color: darkblue;
}

.block_table{
    border: 1px red solid;
}

.heading{
    padding-left: 5em;
    color: white;
}