.inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header nav{
    background-color: rgba(176, 196, 222, 1);
    text-align: center;
    border-bottom: 0.2em solid rebeccapurple;
    border-top: 1px solid rgba(176, 196, 222, 1);
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

header nav a{
    text-decoration: none;
    color: black;
    font-size: 2em;
    cursor: url('/images/cursor2.cur'), auto;
    margin: 0 2em;
}

header nav a:hover{
    color: purple;
    cursor: url('/images/cursor2.cur'), auto;
}

.outer{
    position: fixed;
    top: 3em;
    left: 0;
    width: 100%;
    height: 100vh;
}

.dload{
    cursor: url('/images/cursor2.cur'), auto;
}

body {
    cursor: url('/images/cursor1.cur'), auto;
}

.inner button{
    margin: 1em;
    border-radius: 14px;
    width: 20em;
    height: 3em;
    border: #731091 4px solid;
    background: pink;
}

.inner button:hover{
    cursor: url('/images/cursor2.cur'), auto;
}

.pozdr{
    width: 80%;
}

.pozdr td div{
    margin: 0 1em;
}

.pozdr img{
    width: 13em;
    margin: 1em;
    cursor: url('/images/cursor2.cur'), auto;
    border: #5100af 3px solid;
    border-radius: 50%;
    z-index: 5;
}

.infobg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: none;
    transition: 0.3s all;
    pointer-events: none;
    z-index: 10;
}

.infobgactive{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: block;
    transition: 0.3s all;
    z-index: 10;
    pointer-events: all;
}
.info{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: aliceblue;
    border-radius: 20px;
    padding: 2.5em;
    width: 80%;
}

.close_info{position: absolute; top: 1em; right: 1em; max-width: 1em; cursor: url('/images/cursor2.cur'), auto;}

.ffbg{
    display: flex;
    justify-content: center;
}

.ff{
    background-color: aliceblue;
    border-right: #5100af 3px solid;
    border-left: #5100af 3px solid;
    text-align: justify;
    padding: 1em;
    font-size: 1.5em;
}

.ff p{
    text-indent: 1em;
    margin: 0;
}

.col-2 img{
    width: 100%;
}

.col-3 img{
    width: 100%;
    padding: 1em;
}