.screen{
    background: lightgray;
    font-size: 2em;
    height: 1.5em;
}

.buttons{
    background: lavender;
    display: flex;

}

.digits{
    border-right: #222222 solid;
}
.calc-container{
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    border: #222222 solid;
}

.key {
    border-radius: 50%;
    background-color: gray;
    width: 5em;
    height: 5em;
    font-size: 1.5em;
    color: white;
}